[user]
    email = bryanquah@gmail.com
    name = Bryan Quah


[alias]
    a = add
    b = branch
    c = commit
    d = diff
    g = grep
    l = log
    s = status
    w = whatchanged

    cm = commit --message
    co = checkout

[core]
	excludesfile = /home/bryantpq/.gitignore
[push]
	default = simple
